In [88]:
import numpy as np  # linear algebra
from sklearn.compose import ColumnTransformer

import pandas as pd  # data processing
import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
df = pd.read_csv('./reference/100_day_ml_source_code/day28-column-transformer/covid_toy.csv')
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [90]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
# 
from sklearn.compose import ColumnTransformer

SimpleImputer : fever
StandardScaler : age
OrdinalEncoder : cough

In [91]:
## Fill Missing values 
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
df[['fever']] = imp_mean.fit_transform(df[['fever']])
df[['fever']]

    fever
0   103.0
1   100.0
2   101.0
3    98.0
4   101.0
..    ...
95  104.0
96  101.0
97  101.0
98   98.0
99   98.0

[100 rows x 1 columns]

In [92]:
scaler = StandardScaler()
df[['age']] = scaler.fit_transform(df[['age']])
df['age']

0     0.637467
1    -0.695639
2    -0.089682
3    -0.534050
4     0.839453
        ...
95   -1.301596
96    0.273893
97   -0.978419
98   -1.584376
99   -1.382390
Name: age, Length: 100, dtype: float64

In [93]:
encoder = OrdinalEncoder(categories=[['Mild', 'Strong']])
df[['cough_encoded']] = encoder.fit_transform(df[['cough']])
df[['cough', 'cough_encoded']]

     cough  cough_encoded
0     Mild            0.0
1     Mild            0.0
2     Mild            0.0
3     Mild            0.0
4     Mild            0.0
..     ...            ...
95    Mild            0.0
96  Strong            1.0
97    Mild            0.0
98  Strong            1.0
99  Strong            1.0

[100 rows x 2 columns]

### Column Transformer

In [113]:
transformer = ColumnTransformer(transformers=[
    ('imputer', SimpleImputer(missing_values=np.nan, strategy='mean'), ['age']),
    ('scaler', StandardScaler(), ['age']),
    ('encoder', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
], remainder='passthrough')

transformer.fit_transform(df)

array([[0.6374669662528468, 0.6374669662528468, 0.0, 'Male', 103.0,
        'Kolkata', 'No', 0.0],
       [-0.6956388567093802, -0.6956388567093802, 0.0, 'Male', 100.0,
        'Delhi', 'Yes', 0.0],
       [-0.0896816644538225, -0.08968166445382253, 0.0, 'Male', 101.0,
        'Delhi', 'No', 0.0],
       [-0.5340502721078981, -0.5340502721078981, 0.0, 'Female', 98.0,
        'Kolkata', 'No', 0.0],
       [0.8394526970046994, 0.8394526970046994, 0.0, 'Female', 101.0,
        'Mumbai', 'No', 0.0],
       [1.606998473861739, 1.606998473861739, 0.0, 'Female',
        100.84444444444445, 'Bangalore', 'Yes', 0.0],
       [-1.2208017566641969, -1.2208017566641969, 1.0, 'Male', 101.0,
        'Bangalore', 'No', 1.0],
       [-0.9784188797619738, -0.9784188797619738, 1.0, 'Female',
        100.84444444444445, 'Mumbai', 'Yes', 1.0],
       [-1.0188160259123444, -1.0188160259123444, 1.0, 'Female', 100.0,
        'Bangalore', 'No', 1.0],
       [0.7990555508543289, 0.7990555508543289, 0.0, 'Female', 101.0,
        'Delhi', 'No', 0.0],
       [1.2434241585084045, 1.2434241585084045, 0.0, 'Female',
        100.84444444444445, 'Delhi', 'No', 0.0],
       [0.8394526970046994, 0.8394526970046994, 0.0, 'Female', 98.0,
        'Mumbai', 'Yes', 0.0],
       [-0.7764331490101213, -0.7764331490101213, 1.0, 'Female', 99.0,
        'Kolkata', 'No', 1.0],
       [0.7990555508543289, 0.7990555508543289, 0.0, 'Male', 102.0,
        'Bangalore', 'Yes', 0.0],
       [0.27389265089951215, 0.2738926508995121, 0.0, 'Male', 104.0,
        'Bangalore', 'No', 0.0],
       [1.041438427756552, 1.041438427756552, 1.0, 'Male', 103.0,
        'Kolkata', 'Yes', 1.0],
       [1.0010412816061813, 1.0010412816061813, 0.0, 'Female', 103.0,
        'Kolkata', 'Yes', 0.0],
       [-0.17047595675456353, -0.17047595675456356, 1.0, 'Female', 98.0,
        'Delhi', 'No', 1.0],
       [0.7990555508543289, 0.7990555508543289, 0.0, 'Female', 98.0,
        'Bangalore', 'Yes', 0.0],
       [-0.0896816644538225, -0.08968166445382253, 1.0, 'Female',
        100.84444444444445, 'Bangalore', 'Yes', 1.0],
       [-1.301596048964938, -1.301596048964938, 1.0, 'Male', 98.0,
        'Bangalore', 'No', 1.0],
       [1.1626298662076635, 1.1626298662076635, 0.0, 'Male', 98.0,
        'Bangalore', 'Yes', 0.0],
       [1.0818355739069225, 1.0818355739069225, 1.0, 'Female', 98.0,
        'Kolkata', 'Yes', 1.0],
       [1.4454098892602572, 1.4454098892602572, 0.0, 'Female', 98.0,
        'Delhi', 'Yes', 0.0],
       [-1.2611989028145674, -1.2611989028145674, 1.0, 'Female', 100.0,
        'Kolkata', 'No', 1.0],
       [-0.8572274413108623, -0.8572274413108623, 0.0, 'Male',
        100.84444444444445, 'Mumbai', 'No', 0.0],
       [-1.0188160259123444, -1.0188160259123444, 0.0, 'Female', 100.0,
        'Kolkata', 'Yes', 0.0],
       [-0.45325597980715715, -0.4532559798071572, 1.0, 'Female', 102.0,
        'Delhi', 'No', 1.0],
       [-1.140007464363456, -1.140007464363456, 0.0, 'Male', 104.0,
        'Kolkata', 'No', 0.0],
       [-0.4128588336567866, -0.41285883365678666, 1.0, 'Female',
        100.84444444444445, 'Mumbai', 'Yes', 1.0],
       [-1.1804046105138264, -1.1804046105138264, 0.0, 'Male', 101.0,
        'Delhi', 'Yes', 0.0],
       [1.5666013277113686, 1.5666013277113686, 0.0, 'Male', 103.0,
        'Kolkata', 'No', 0.0],
       [-0.4128588336567866, -0.41285883365678666, 1.0, 'Female', 101.0,
        'Delhi', 'Yes', 1.0],
       [-0.7360360028597508, -0.7360360028597508, 0.0, 'Female', 98.0,
        'Kolkata', 'No', 0.0],
       [1.203027012358034, 1.203027012358034, 0.0, 'Male', 102.0,
        'Mumbai', 'Yes', 0.0],
       [1.5262041815609981, 1.5262041815609981, 1.0, 'Female', 102.0,
        'Bangalore', 'No', 1.0],
       [-0.25127024905530454, -0.2512702490553046, 0.0, 'Female', 101.0,
        'Bangalore', 'No', 0.0],
       [0.4354812355009942, 0.43548123550099416, 0.0, 'Male', 100.0,
        'Kolkata', 'No', 0.0],
       [0.1930983585987711, 0.19309835859877109, 0.0, 'Female', 101.0,
        'Delhi', 'Yes', 0.0],
       [0.23349550474914163, 0.2334955047491416, 0.0, 'Female', 103.0,
        'Kolkata', 'No', 0.0],
       [0.1930983585987711, 0.19309835859877109, 0.0, 'Female', 102.0,
        'Delhi', 'No', 0.0],
       [1.5262041815609981, 1.5262041815609981, 0.0, 'Male',
        100.84444444444445, 'Kolkata', 'Yes', 0.0],
       [-0.6956388567093802, -0.6956388567093802, 0.0, 'Male', 100.0,
        'Delhi', 'Yes', 0.0],
       [-0.8976245874612329, -0.8976245874612329, 0.0, 'Female', 99.0,
        'Bangalore', 'Yes', 0.0],
       [-0.9784188797619738, -0.9784188797619738, 1.0, 'Male', 102.0,
        'Delhi', 'No', 1.0],
       [1.122232720057293, 1.122232720057293, 0.0, 'Male', 99.0,
        'Bangalore', 'No', 0.0],
       [-1.0188160259123444, -1.0188160259123444, 0.0, 'Female', 101.0,
        'Mumbai', 'No', 0.0],
       [-1.059213172062715, -1.059213172062715, 0.0, 'Female', 104.0,
        'Bangalore', 'No', 0.0],
       [0.8798498431550699, 0.8798498431550699, 1.0, 'Male', 99.0,
        'Bangalore', 'No', 1.0],
       [-0.008887372153081467, -0.008887372153081498, 0.0, 'Male', 104.0,
        'Mumbai', 'No', 0.0],
       [-1.0188160259123444, -1.0188160259123444, 0.0, 'Male', 101.0,
        'Delhi', 'Yes', 0.0],
       [-1.3419931951153086, -1.3419931951153086, 1.0, 'Female', 100.0,
        'Kolkata', 'Yes', 1.0],
       [0.11230406629803008, 0.11230406629803005, 1.0, 'Female', 100.0,
        'Bangalore', 'Yes', 1.0],
       [1.5666013277113686, 1.5666013277113686, 0.0, 'Male', 98.0,
        'Delhi', 'Yes', 0.0],
       [0.6374669662528468, 0.6374669662528468, 0.0, 'Female', 99.0,
        'Mumbai', 'Yes', 0.0],
       [1.4858070354106276, 1.4858070354106276, 0.0, 'Female', 101.0,
        'Mumbai', 'Yes', 0.0],
       [1.0818355739069225, 1.0818355739069225, 1.0, 'Male',
        100.84444444444445, 'Kolkata', 'No', 1.0],
       [0.1930983585987711, 0.19309835859877109, 1.0, 'Female', 99.0,
        'Bangalore', 'No', 1.0],
       [-0.8572274413108623, -0.8572274413108623, 1.0, 'Male', 98.0,
        'Mumbai', 'Yes', 1.0],
       [-1.543978925867161, -1.543978925867161, 0.0, 'Female', 104.0,
        'Kolkata', 'Yes', 0.0],
       [-0.8168302951604918, -0.8168302951604918, 1.0, 'Female', 102.0,
        'Bangalore', 'Yes', 1.0],
       [1.4858070354106276, 1.4858070354106276, 1.0, 'Female', 98.0,
        'Mumbai', 'No', 1.0],
       [0.4758783816513647, 0.47587838165136465, 1.0, 'Female', 104.0,
        'Bangalore', 'Yes', 1.0],
       [-1.382390341265679, -1.382390341265679, 0.0, 'Male', 100.0,
        'Bangalore', 'No', 0.0],
       [-0.0896816644538225, -0.08968166445382253, 0.0, 'Male', 104.0,
        'Mumbai', 'No', 0.0],
       [1.0010412816061813, 1.0010412816061813, 0.0, 'Female', 102.0,
        'Bangalore', 'No', 0.0],
       [0.27389265089951215, 0.2738926508995121, 0.0, 'Male', 104.0,
        'Kolkata', 'No', 0.0],
       [0.8394526970046994, 0.8394526970046994, 0.0, 'Male', 99.0,
        'Bangalore', 'No', 0.0],
       [0.39508408935062367, 0.3950840893506236, 1.0, 'Female', 104.0,
        'Kolkata', 'No', 1.0],
       [1.1626298662076635, 1.1626298662076635, 0.0, 'Female', 103.0,
        'Delhi', 'No', 0.0],
       [0.960644135455811, 0.960644135455811, 1.0, 'Female', 101.0,
        'Delhi', 'No', 1.0],
       [1.2434241585084045, 1.2434241585084045, 1.0, 'Female', 104.0,
        'Delhi', 'No', 1.0],
       [1.5666013277113686, 1.5666013277113686, 0.0, 'Female', 101.0,
        'Kolkata', 'No', 0.0],
       [-0.4128588336567866, -0.41285883365678666, 1.0, 'Male', 98.0,
        'Kolkata', 'Yes', 1.0],
       [-0.4128588336567866, -0.41285883365678666, 1.0, 'Female', 104.0,
        'Delhi', 'No', 1.0],
       [-1.5843760720175315, -1.5843760720175315, 0.0, 'Male', 102.0,
        'Kolkata', 'Yes', 0.0],
       [1.4454098892602572, 1.4454098892602572, 0.0, 'Male', 100.0,
        'Bangalore', 'Yes', 0.0],
       [-1.46318463356642, -1.46318463356642, 0.0, 'Female', 101.0,
        'Kolkata', 'No', 0.0],
       [-1.3419931951153086, -1.3419931951153086, 0.0, 'Male', 100.0,
        'Bangalore', 'Yes', 0.0],
       [0.1527012124484006, 0.15270121244840057, 0.0, 'Female', 103.0,
        'Kolkata', 'Yes', 0.0],
       [-1.2208017566641969, -1.2208017566641969, 0.0, 'Female', 99.0,
        'Mumbai', 'Yes', 0.0],
       [0.8394526970046994, 0.8394526970046994, 0.0, 'Male', 99.0,
        'Delhi', 'No', 0.0],
       [-0.8168302951604918, -0.8168302951604918, 0.0, 'Male', 98.0,
        'Kolkata', 'Yes', 0.0],
       [-1.0996103182130854, -1.0996103182130854, 0.0, 'Female', 104.0,
        'Kolkata', 'No', 0.0],
       [1.0010412816061813, 1.0010412816061813, 1.0, 'Female', 98.0,
        'Mumbai', 'No', 1.0],
       [-1.140007464363456, -1.140007464363456, 0.0, 'Female', 103.0,
        'Bangalore', 'Yes', 0.0],
       [-0.7764331490101213, -0.7764331490101213, 0.0, 'Male', 104.0,
        'Bangalore', 'Yes', 0.0],
       [0.11230406629803008, 0.11230406629803005, 1.0, 'Male', 101.0,
        'Bangalore', 'No', 1.0],
       [-1.5843760720175315, -1.5843760720175315, 0.0, 'Female', 100.0,
        'Kolkata', 'No', 0.0],
       [0.07190692014765956, 0.07190692014765954, 1.0, 'Male', 103.0,
        'Bangalore', 'No', 1.0],
       [0.5970698201024762, 0.5970698201024762, 1.0, 'Female', 99.0,
        'Delhi', 'No', 1.0],
       [-0.25127024905530454, -0.2512702490553046, 0.0, 'Male',
        100.84444444444445, 'Delhi', 'Yes', 0.0],
       [1.5262041815609981, 1.5262041815609981, 1.0, 'Female', 102.0,
        'Kolkata', 'No', 1.0],
       [-0.6956388567093802, -0.6956388567093802, 0.0, 'Male', 100.0,
        'Kolkata', 'Yes', 0.0],
       [1.4050127431098867, 1.4050127431098867, 1.0, 'Male',
        100.84444444444445, 'Kolkata', 'Yes', 1.0],
       [-1.301596048964938, -1.301596048964938, 0.0, 'Female', 104.0,
        'Bangalore', 'No', 0.0],
       [0.27389265089951215, 0.2738926508995121, 1.0, 'Female', 101.0,
        'Kolkata', 'Yes', 1.0],
       [-0.9784188797619738, -0.9784188797619738, 0.0, 'Female', 101.0,
        'Bangalore', 'No', 0.0],
       [-1.5843760720175315, -1.5843760720175315, 1.0, 'Female', 98.0,
        'Mumbai', 'No', 1.0],
       [-1.382390341265679, -1.382390341265679, 1.0, 'Female', 98.0,
        'Kolkata', 'Yes', 1.0]], dtype=object)

In [115]:
transformer.transformers_

[('imputer', SimpleImputer(), ['age']),
 ('scaler', StandardScaler(), ['age']),
 ('encoder', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
 ('remainder', 'passthrough', [1, 2, 4, 5, 6])]