In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
cars = pd.read_csv('./day-26-one-hot-encoding-categorical-data-cars.csv')
cars

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [32]:
total_brands = cars['brand'].nunique()
print("Total unique Brands:", total_brands)

Total unique Brands: 32

In [28]:
cars['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [35]:
cars['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [36]:
cars['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

### One Hot Encoding using pandas 
Not useful in real word projects, because it does not have state

In [37]:
pd.get_dummies(cars, columns=['fuel', 'owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

#### K-1 OneHotEncoding

In [39]:
pd.get_dummies(cars, columns=['fuel', 'owner'], drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

### One Hot Encoding using SkLearn

In [85]:
from sklearn.model_selection import train_test_split

features = cars[['brand', 'km_driven', 'fuel', 'owner']]
target = cars['selling_price']
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=True)

x_train

        brand  km_driven    fuel         owner
1939    Honda     100000  Diesel  Second Owner
5455   Maruti     120000  Diesel  Second Owner
7079  Renault     100000  Diesel  Second Owner
2000    Honda      80000  Petrol  Second Owner
1578    Honda      56494  Petrol   First Owner
...       ...        ...     ...           ...
7935   Maruti     100000  Petrol   Third Owner
5192  Hyundai     152000  Diesel   First Owner
3980  Hyundai      70000  Petrol   First Owner
235    Maruti     110000  Diesel  Second Owner
5157   Maruti      65755  Petrol   First Owner

[6502 rows x 4 columns]

In [86]:
y_train

1939    420000
5455    675000
7079    570000
2000    350000
1578    550000
         ...
7935     40000
5192    580000
3980    190000
235     250000
5157    480000
Name: selling_price, Length: 6502, dtype: int64

In [87]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', dtype=np.int32)

In [88]:
x_train_ohe = ohe.fit_transform(x_train[['fuel', 'owner']]).toarray()
x_test_ohe = ohe.fit_transform(x_test[['fuel', 'owner']]).toarray()

print(x_train_ohe.shape)

x_train_ohe

(6502, 7)

array([[1, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int32)

In [95]:
x_train_values = x_train[['brand', 'km_driven']].values

In [101]:
## JOIN OHE values & Reset of columns 
np.hstack((x_train_values, x_train_ohe))

array([['Honda', 100000, 1, ..., 1, 0, 0],
       ['Maruti', 120000, 1, ..., 1, 0, 0],
       ['Renault', 100000, 1, ..., 1, 0, 0],
       ...,
       ['Hyundai', 70000, 0, ..., 0, 0, 0],
       ['Maruti', 110000, 1, ..., 1, 0, 0],
       ['Maruti', 65755, 0, ..., 0, 0, 0]], dtype=object)

#### One Hot Encoding with Top-Categories

In [118]:
brands_count = cars['brand'].nunique()
print("total_brands:", total_brands)

total_brands_names = cars['brand'].value_counts()

total_brands: 32

In [198]:
threshold = 500
# total_brands_names.loc[lambda x: x > threshold]
top_brands = total_brands_names[lambda x: x > threshold]
top_brands

brand
Maruti      2448
Hyundai     1415
Mahindra     772
Tata         734
Name: count, dtype: int64

In [215]:
top_brands.index

Index(['Maruti', 'Hyundai', 'Mahindra', 'Tata'], dtype='object', name='brand')

In [219]:
cars_ = cars['brand'].replace(top_brands.index, 'others')
print(cars_.nunique())
cars_

29

0       others
1        Skoda
2        Honda
3       others
4       others
         ...
8123    others
8124    others
8125    others
8126    others
8127    others
Name: brand, Length: 8128, dtype: object

### Some error in threshold 
Supposed to get only top 4 brands as per above filter

In [201]:
pd.get_dummies(cars_)

,Ambassador,Ashok,Audi,BMW,Chevrolet,Daewoo,Datsun,Fiat,Force,Ford,...,Mitsubishi,Nissan,Opel,Peugeot,Renault,Skoda,Toyota,Volkswagen,Volvo,others
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8125,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8127,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True