Source: 
- https://youtu.be/txMdrV1Ut64?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS

In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('./output_minified.csv')
schema = pd.read_csv('./stack-overflow-survey-2023/survey_results_schema.csv')

df

,id,ConvertedCompYearly,Country,Currency,ConvertedCompYearly.1,LanguageHaveWorkedWith,RemoteWork,CompTotal,WorkExp,SOAccount,Employment,YearsCode,YearsCodePro,DevType
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,285000.0,United States of America,USD\tUnited States dollar,285000.0,HTML/CSS;JavaScript;Python,Remote,2.850000e+05,10.0,Yes,"Employed, full-time",18,9,"Senior Executive (C-Suite, VP, etc.)"
2,2,250000.0,United States of America,USD\tUnited States dollar,250000.0,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)",2.500000e+05,23.0,Yes,"Employed, full-time",27,23,"Developer, back-end"
3,3,156000.0,United States of America,USD\tUnited States dollar,156000.0,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)",1.560000e+05,7.0,Yes,"Employed, full-time",12,7,"Developer, front-end"
4,4,23456.0,Philippines,PHP\tPhilippine peso,23456.0,HTML/CSS;JavaScript;TypeScript,Remote,1.320000e+06,6.0,No,"Employed, full-time;Independent contractor, fr...",6,4,"Developer, full-stack"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89179,NaN,Brazil,BRL\tBrazilian real,NaN,HTML/CSS;Java;JavaScript;SQL;TypeScript,Remote,2.000000e+05,NaN,Yes,"Employed, full-time;Independent contractor, fr...",20,5,"Developer, front-end"
89180,89180,NaN,Romania,NaN,NaN,Dart;Java;Python;SQL,"Hybrid (some remote, some in-person)",NaN,NaN,Yes,"Student, full-time;Employed, part-time",5,NaN,"Developer, back-end"
89181,89181,NaN,Israel,NaN,NaN,Assembly;Bash/Shell (all shells);C;C#;Python;R...,NaN,NaN,NaN,NaN,I prefer not to say,10,NaN,NaN
89182,89182,NaN,Switzerland,NaN,NaN,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)",NaN,NaN,No,"Employed, part-time;Student, part-time",3,NaN,System administrator
89183,89183,NaN,"Iran, Islamic Republic of...",IRR\tIranian rial,NaN,C#;Go;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)",3.300000e+09,14.0,Yes,"Employed, full-time",17,12,"Developer, full-stack"

In [35]:
df.columns

Index(['id', 'ConvertedCompYearly', 'Country', 'Currency',
       'ConvertedCompYearly.1', 'LanguageHaveWorkedWith', 'RemoteWork',
       'CompTotal', 'WorkExp', 'SOAccount', 'Employment', 'YearsCode',
       'YearsCodePro', 'DevType'],
      dtype='object')

In [36]:
df['SOAccount'].value_counts()

SOAccount
Yes                        66282
No                         14618
Not sure/can't remember     6952
Name: count, dtype: int64

In [41]:
df['SOAccount'].value_counts(normalize=True)

SOAccount
Yes                        0.754473
No                         0.166393
Not sure/can't remember    0.079133
Name: proportion, dtype: float64

In [43]:
df['Country'].value_counts()

Country
United States of America                                18647
Germany                                                  7328
India                                                    5625
United Kingdom of Great Britain and Northern Ireland     5552
Canada                                                   3507
                                                        ...
Saint Kitts and Nevis                                       1
Marshall Islands                                            1
Samoa                                                       1
Central African Republic                                    1
San Marino                                                  1
Name: count, Length: 185, dtype: int64

In [60]:
country_gp = df.groupby(['Country'])

country_gp.get_group('India').count()

id                        5625
ConvertedCompYearly       1868
Country                   5625
Currency                  3705
ConvertedCompYearly.1     1868
LanguageHaveWorkedWith    5520
RemoteWork                4147
CompTotal                 1915
WorkExp                   2901
SOAccount                 5606
Employment                5612
YearsCode                 5533
YearsCodePro              3643
DevType                   4493
dtype: int64

In [61]:
country_gp.get_group('India')['RemoteWork'].value_counts()

RemoteWork
Hybrid (some remote, some in-person)    1638
Remote                                  1405
In-person                               1104
Name: count, dtype: int64

In [77]:
country_gp['RemoteWork'].value_counts() ## Returns multiple-indexed series

Country      RemoteWork
Afghanistan  Hybrid (some remote, some in-person)    17
             Remote                                  17
             In-person                                8
Albania      Hybrid (some remote, some in-person)    18
             In-person                               17
                                                     ..
Zambia       Hybrid (some remote, some in-person)     5
             Remote                                   3
Zimbabwe     Remote                                   7
             Hybrid (some remote, some in-person)     5
             In-person                                5
Name: count, Length: 490, dtype: int64

In [82]:
country_gp['ConvertedCompYearly'].agg(['min','max','mean','median'])

,min,max,mean,median
Country,,,,
Afghanistan,33.0,9203683.0,843636.090909,915.0
Albania,14.0,139700.0,29219.450000,10741.0
Algeria,512.0,37776.0,10069.190476,8782.0
Andorra,23560.0,289142.0,120368.800000,42836.0
Angola,662.0,7942.0,4302.000000,4302.0
...,...,...,...,...
"Venezuela, Bolivarian Republic of...",5.0,180000.0,23068.851852,12000.0
Viet Nam,1.0,125000.0,20995.956140,12763.0
Yemen,1500.0,59917.0,15089.333333,6500.0
Zambia,605.0,41122.0,13897.800000,9687.0
Zimbabwe,3000.0,114000.0,26740.000000,12500.0

In [99]:
filter_india = df['Country'] == 'India'
python_series = df[filter_india]['LanguageHaveWorkedWith'].str.contains('Python')
python_series.sum()

2793

In [136]:
# country_gp['LanguageHaveWorkedWith'].str.contains('Python') ## will not work with groups-of-series
country_uses_python = country_gp['LanguageHaveWorkedWith'].apply(lambda series: series.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              22
Albania                                  19
Algeria                                  35
Andorra                                   5
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     42
Viet Nam                                174
Yemen                                     8
Zambia                                   11
Zimbabwe                                 19
Name: LanguageHaveWorkedWith, Length: 185, dtype: int64

In [135]:
country_wise_response_count = country_gp['LanguageHaveWorkedWith'].count()
country_wise_response_count

Country
Afghanistan                              58
Albania                                  55
Algeria                                  83
Andorra                                  15
Angola                                   11
                                       ...
Venezuela, Bolivarian Republic of...    103
Viet Nam                                380
Yemen                                    18
Zambia                                   26
Zimbabwe                                 33
Name: LanguageHaveWorkedWith, Length: 185, dtype: int64

In [149]:
python_df = pd.concat([country_wise_response_count,country_uses_python], axis='columns', sort=False)

columns = list(python_df.columns)
columns[0] = 'TotalRespondents'
columns[1] = 'KnowsPython'
python_df.columns = columns
python_df

                                      TotalRespondents  KnowsPython
Country
Afghanistan                                         58           22
Albania                                             55           19
Algeria                                             83           35
Andorra                                             15            5
Angola                                              11            4
...                                                ...          ...
Venezuela, Bolivarian Republic of...               103           42
Viet Nam                                           380          174
Yemen                                               18            8
Zambia                                              26           11
Zimbabwe                                            33           19

[185 rows x 2 columns]

In [156]:
python_df['PercKnowsPython'] = (python_df['KnowsPython']/python_df['TotalRespondents']) * 100
python_df.sort_values(by='PercKnowsPython', ascending=False, inplace=True)

python_df

                  TotalRespondents  KnowsPython  PercKnowsPython
Country
North Korea                      4            4            100.0
Dominica                         2            2            100.0
Grenada                          1            1            100.0
Lesotho                          4            4            100.0
San Marino                       1            1            100.0
...                            ...          ...              ...
Gabon                            2            0              0.0
Marshall Islands                 1            0              0.0
Monaco                           2            0              0.0
Bahamas                          2            0              0.0
Niger                            4            0              0.0

[185 rows x 3 columns]