In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./output_minified.csv')
schema = pd.read_csv('./stack-overflow-survey-2023/survey_results_schema.csv')

df

,id,ConvertedCompYearly,Country,Currency,ConvertedCompYearly.1,LanguageHaveWorkedWith,RemoteWork,CompTotal,WorkExp,SOAccount,Employment,YearsCode,YearsCodePro,DevType
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,285000.0,United States of America,USD\tUnited States dollar,285000.0,HTML/CSS;JavaScript;Python,Remote,2.850000e+05,10.0,Yes,"Employed, full-time",18,9,"Senior Executive (C-Suite, VP, etc.)"
2,2,250000.0,United States of America,USD\tUnited States dollar,250000.0,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)",2.500000e+05,23.0,Yes,"Employed, full-time",27,23,"Developer, back-end"
3,3,156000.0,United States of America,USD\tUnited States dollar,156000.0,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)",1.560000e+05,7.0,Yes,"Employed, full-time",12,7,"Developer, front-end"
4,4,23456.0,Philippines,PHP\tPhilippine peso,23456.0,HTML/CSS;JavaScript;TypeScript,Remote,1.320000e+06,6.0,No,"Employed, full-time;Independent contractor, fr...",6,4,"Developer, full-stack"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89179,NaN,Brazil,BRL\tBrazilian real,NaN,HTML/CSS;Java;JavaScript;SQL;TypeScript,Remote,2.000000e+05,NaN,Yes,"Employed, full-time;Independent contractor, fr...",20,5,"Developer, front-end"
89180,89180,NaN,Romania,NaN,NaN,Dart;Java;Python;SQL,"Hybrid (some remote, some in-person)",NaN,NaN,Yes,"Student, full-time;Employed, part-time",5,NaN,"Developer, back-end"
89181,89181,NaN,Israel,NaN,NaN,Assembly;Bash/Shell (all shells);C;C#;Python;R...,NaN,NaN,NaN,NaN,I prefer not to say,10,NaN,NaN
89182,89182,NaN,Switzerland,NaN,NaN,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)",NaN,NaN,No,"Employed, part-time;Student, part-time",3,NaN,System administrator
89183,89183,NaN,"Iran, Islamic Republic of...",IRR\tIranian rial,NaN,C#;Go;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)",3.300000e+09,14.0,Yes,"Employed, full-time",17,12,"Developer, full-stack"

**FIX**:  `df['YearsCode'].mean()` TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
df['YearsCode'].unique()

array([nan, '18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

In [4]:
df['YearsCode'].replace(['Less than 1 year', 'More than 50 years'], [1, 51], inplace=True)
df['YearsCode'] = df['YearsCode'].astype(float)

df['YearsCode'].unique()

array([nan, 18., 27., 12.,  6., 21.,  4.,  5., 20., 14., 10., 15., 11.,
        3., 24.,  8., 13.,  1., 16., 33., 22., 30., 32.,  7., 35., 28.,
       40., 17., 29., 19., 51.,  9., 38., 26., 34., 25.,  2., 45., 23.,
       31., 43., 48., 41., 50., 39., 42., 37., 36., 44., 46., 49., 47.])

In [5]:
df['YearsCode'].mean()

13.977926459655745