In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('./stack-overflow-survey-2023/survey_results_public.csv')

In [33]:
print('shape => ',df.shape)
# print('columns =>', df.columns) ## Cols array
print('info =>', df.info())

shape =>  (89184, 84)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB
info => None

In [34]:
df['RemoteWork'].value_counts()
## ColumnValues  CountInt

RemoteWork
Hybrid (some remote, some in-person)    31131
Remote                                  30566
In-person                               12113
Name: count, dtype: int64

In [35]:
filter_high_salary = (df['ConvertedCompYearly'] > 1000)
columns =  ['ConvertedCompYearly', 'Country', 'LanguageHaveWorkedWith', 'RemoteWork']
high_salary = df.loc[filter_high_salary, columns]
# high_salary.to_csv('output_high_salary_filtered.csv')
high_salary

,ConvertedCompYearly,Country,LanguageHaveWorkedWith,RemoteWork
1,285000.0,United States of America,HTML/CSS;JavaScript;Python,Remote
2,250000.0,United States of America,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)"
3,156000.0,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)"
4,23456.0,Philippines,HTML/CSS;JavaScript;TypeScript,Remote
5,96828.0,United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,Remote
...,...,...,...,...
89162,50719.0,Brazil,C;C++,Remote
89166,16917.0,Armenia,Assembly;Bash/Shell (all shells);C;C#;C++;Java...,In-person
89167,15752.0,India,Dart;HTML/CSS;JavaScript;TypeScript,Remote
89170,64254.0,France,C#;F#;HTML/CSS;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)"
89171,61041.0,Greece,Java;JavaScript;TypeScript,In-person

In [36]:
contries = ['India', 'Denmark', 'Finland', 'Switzerland','United States of America']
filter_contry_df = df['Country'].isin(contries)
df_contry = df.loc[filter_contry_df,columns]
df_contry

,ConvertedCompYearly,Country,LanguageHaveWorkedWith,RemoteWork
1,285000.0,United States of America,HTML/CSS;JavaScript;Python,Remote
2,250000.0,United States of America,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)"
3,156000.0,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)"
6,135000.0,United States of America,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,Remote
7,80000.0,United States of America,Go;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript,Remote
...,...,...,...,...
89165,NaN,India,C;C#;C++;Java;JavaScript;TypeScript,In-person
89167,15752.0,India,Dart;HTML/CSS;JavaScript;TypeScript,Remote
89175,NaN,United States of America,Java;Kotlin,Remote
89178,NaN,United States of America,JavaScript;TypeScript,Remote
89182,NaN,Switzerland,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)"

In [41]:
filter_python_devs = df['LanguageHaveWorkedWith'].str.contains('JavaScript', na=False)
df_python_devs = df.loc[filter_python_devs, columns]
df_python_devs

,ConvertedCompYearly,Country,LanguageHaveWorkedWith,RemoteWork
1,285000.0,United States of America,HTML/CSS;JavaScript;Python,Remote
3,156000.0,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)"
4,23456.0,Philippines,HTML/CSS;JavaScript;TypeScript,Remote
5,96828.0,United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,Remote
6,135000.0,United States of America,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,Remote
...,...,...,...,...
89176,NaN,Greece,HTML/CSS;Java;JavaScript;PHP;Python;SQL;TypeSc...,NaN
89178,NaN,United States of America,JavaScript;TypeScript,Remote
89179,NaN,Brazil,HTML/CSS;Java;JavaScript;SQL;TypeScript,Remote
89182,NaN,Switzerland,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)"
89183,NaN,"Iran, Islamic Republic of...",C#;Go;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)"