In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./stack-overflow-survey-2023/survey_results_public.csv')

In [ ]:
print('shape => ',df.shape)
print('columns =>', df.columns)
print('info =>', df.info())

In [ ]:
df['RemoteWork'].value_counts()
## ColumnValus  CountInt

In [79]:
filter_high_salary = (df['ConvertedCompYearly'] > 1000)
columns =  ['ConvertedCompYearly', 'Country', 'LanguageHaveWorkedWith', 'RemoteWork']
high_salary = df.loc[filter_high_salary, columns]
# high_salary.to_csv('output_high_salary_filtered.csv')
high_salary

,ConvertedCompYearly,Country,LanguageHaveWorkedWith,RemoteWork
1,285000.0,United States of America,HTML/CSS;JavaScript;Python,Remote
2,250000.0,United States of America,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)"
3,156000.0,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)"
4,23456.0,Philippines,HTML/CSS;JavaScript;TypeScript,Remote
5,96828.0,United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,Remote
...,...,...,...,...
89162,50719.0,Brazil,C;C++,Remote
89166,16917.0,Armenia,Assembly;Bash/Shell (all shells);C;C#;C++;Java...,In-person
89167,15752.0,India,Dart;HTML/CSS;JavaScript;TypeScript,Remote
89170,64254.0,France,C#;F#;HTML/CSS;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)"
89171,61041.0,Greece,Java;JavaScript;TypeScript,In-person

In [95]:
contries = ['India', 'Denmark', 'Finland', 'Switzerland','United States of America']
filter_contry_df = df['Country'].isin(contries)
df_contry = df.loc[filter_contry_df,columns]
df_contry

,ConvertedCompYearly,Country,LanguageHaveWorkedWith,RemoteWork
1,285000.0,United States of America,HTML/CSS;JavaScript;Python,Remote
2,250000.0,United States of America,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)"
3,156000.0,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)"
6,135000.0,United States of America,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,Remote
7,80000.0,United States of America,Go;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript,Remote
...,...,...,...,...
89165,NaN,India,C;C#;C++;Java;JavaScript;TypeScript,In-person
89167,15752.0,India,Dart;HTML/CSS;JavaScript;TypeScript,Remote
89175,NaN,United States of America,Java;Kotlin,Remote
89178,NaN,United States of America,JavaScript;TypeScript,Remote
89182,NaN,Switzerland,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)"

In [101]:
filter_python_devs = df['LanguageHaveWorkedWith'].str.contains('JavaScript', na=False)
df_python_devs = df.loc[filter_python_devs, columns]
df_python_devs

,ConvertedCompYearly,Country,LanguageHaveWorkedWith,RemoteWork
1,285000.0,United States of America,HTML/CSS;JavaScript;Python,Remote
3,156000.0,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)"
4,23456.0,Philippines,HTML/CSS;JavaScript;TypeScript,Remote
5,96828.0,United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,Remote
6,135000.0,United States of America,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,Remote
...,...,...,...,...
89176,NaN,Greece,HTML/CSS;Java;JavaScript;PHP;Python;SQL;TypeSc...,NaN
89178,NaN,United States of America,JavaScript;TypeScript,Remote
89179,NaN,Brazil,HTML/CSS;Java;JavaScript;SQL;TypeScript,Remote
89182,NaN,Switzerland,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)"
89183,NaN,"Iran, Islamic Republic of...",C#;Go;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)"