### GroupBy Tutorial
https://sparkbyexamples.com/pandas/pandas-groupby-explained-with-examples

In [20]:
import pandas as pd
import numpy as np

In [21]:
technologies = ({
    'Courses': ['Hadoop', 'Hadoop', 'Hadoop', 'NA', 'Pandas', 'Python', 'Python', 'Python', 'PySpark', 'Spark', 'Spark'],
    'Fee': [30, 60, 10,90, 50, 40, 80, 0, 20, 10, 70],
    'Duration': ['55days', '35days', '5days', '40days', '60days', '40days', '50days', '40days', '50days', '30days', '30days'],
    'Discount': [1000, None, None,None, 2500, 0, 10, None, 2300, 1000, 1400]
})
df = pd.DataFrame(technologies)
df

    Courses  Fee Duration  Discount
0    Hadoop   30   55days    1000.0
1    Hadoop   60   35days       NaN
2    Hadoop   10    5days       NaN
3        NA   90   40days       NaN
4    Pandas   50   60days    2500.0
5    Python   40   40days       0.0
6    Python   80   50days      10.0
7    Python    0   40days       NaN
8   PySpark   20   50days    2300.0
9     Spark   10   30days    1000.0
10    Spark   70   30days    1400.0

In [22]:
grouped = df.groupby(['Courses']).sum()

grouped

         Fee            Duration  Discount
Courses
Hadoop   100   55days35days5days    1000.0
NA        90              40days       0.0
Pandas    50              60days    2500.0
PySpark   20              50days    2300.0
Python   120  40days50days40days      10.0
Spark     80        30days30days    2400.0

In [23]:
grouped_multi_col = df.groupby(['Courses', 'Duration']).sum()

grouped_multi_col

                  Fee  Discount
Courses Duration
Hadoop  35days     60       0.0
        55days     30    1000.0
        5days      10       0.0
NA      40days     90       0.0
Pandas  60days     50    2500.0
PySpark 50days     20    2300.0
Python  40days     40       0.0
        50days     80      10.0
Spark   30days     80    2400.0

In [24]:
df.groupby(by=['Courses'], dropna=False).sum()

         Fee            Duration  Discount
Courses
Hadoop   100   55days35days5days    1000.0
NA        90              40days       0.0
Pandas    50              60days    2500.0
PySpark   20              50days    2300.0
Python   120  40days50days40days      10.0
Spark     80        30days30days    2400.0

In [25]:
# Using apply() & lambda
df.groupby(by='Courses').apply(lambda x: x.sort_values('Fee'))

            Courses  Fee Duration  Discount
Courses
Hadoop  2    Hadoop   10    5days       NaN
        0    Hadoop   30   55days    1000.0
        1    Hadoop   60   35days       NaN
NA      3        NA   90   40days       NaN
Pandas  4    Pandas   50   60days    2500.0
PySpark 8   PySpark   20   50days    2300.0
Python  7    Python    0   40days       NaN
        5    Python   40   40days       0.0
        6    Python   80   50days      10.0
Spark   9     Spark   10   30days    1000.0
        10    Spark   70   30days    1400.0

In [26]:
df.groupby('Courses')['Fee'].aggregate(['min','max'])

         min  max
Courses
Hadoop    10   60
NA        90   90
Pandas    50   50
PySpark   20   20
Python     0   80
Spark     10   70