In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('./stack-overflow-survey-2023/survey_results_public.csv')
schema = pd.read_csv('./stack-overflow-survey-2023/survey_results_schema.csv')

columns_visible = ['ConvertedCompYearly', 'Country', 'Currency', 'LanguageHaveWorkedWith', 'RemoteWork', 'CompTotal', 'WorkExp' ,'SOAccount']

In [22]:
schema.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

In [23]:
df.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [24]:
df.rename(columns={'ConvertedCompYearly': 'Salary'}, inplace=True)
columns_visible = ['Salary' if item == 'ConvertedCompYearly' else item for item in columns_visible]

In [25]:
df.loc[:, ['Salary'] + columns_visible]

,Salary,Salary,Country,Currency,LanguageHaveWorkedWith,RemoteWork,CompTotal,WorkExp,SOAccount
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,285000.0,285000.0,United States of America,USD\tUnited States dollar,HTML/CSS;JavaScript;Python,Remote,2.850000e+05,10.0,Yes
2,250000.0,250000.0,United States of America,USD\tUnited States dollar,Bash/Shell (all shells);Go,"Hybrid (some remote, some in-person)",2.500000e+05,23.0,Yes
3,156000.0,156000.0,United States of America,USD\tUnited States dollar,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"Hybrid (some remote, some in-person)",1.560000e+05,7.0,Yes
4,23456.0,23456.0,Philippines,PHP\tPhilippine peso,HTML/CSS;JavaScript;TypeScript,Remote,1.320000e+06,6.0,No
...,...,...,...,...,...,...,...,...,...
89179,NaN,NaN,Brazil,BRL\tBrazilian real,HTML/CSS;Java;JavaScript;SQL;TypeScript,Remote,2.000000e+05,NaN,Yes
89180,NaN,NaN,Romania,NaN,Dart;Java;Python;SQL,"Hybrid (some remote, some in-person)",NaN,NaN,Yes
89181,NaN,NaN,Israel,NaN,Assembly;Bash/Shell (all shells);C;C#;Python;R...,NaN,NaN,NaN,NaN
89182,NaN,NaN,Switzerland,NaN,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,"Hybrid (some remote, some in-person)",NaN,NaN,No
89183,NaN,NaN,"Iran, Islamic Republic of...",IRR\tIranian rial,C#;Go;JavaScript;SQL;TypeScript,"Hybrid (some remote, some in-person)",3.300000e+09,14.0,Yes

In [26]:
# df['SOAccount'].map({'Yes':True, 'No':False})
df['SOAccount'] = df['SOAccount'].replace({'Yes':True, 'No':False})

In [27]:
df.sort_values(by=['Country','Salary'], ascending=[True, False], inplace=True)

In [28]:
df = df[columns_visible]

In [29]:
df

,Salary,Country,Currency,LanguageHaveWorkedWith,RemoteWork,CompTotal,WorkExp,SOAccount
88347,9203683.0,Afghanistan,ALL\tAlbanian lek,Cobol,"Hybrid (some remote, some in-person)",932464379.0,NaN,False
86038,68000.0,Afghanistan,USD\tUnited States dollar,NaN,Remote,68000.0,NaN,True
1334,2403.0,Afghanistan,AFN\tAfghan afghani,C;C++;Java;PHP,"Hybrid (some remote, some in-person)",210000.0,NaN,True
57361,2288.0,Afghanistan,AFN\tAfghan afghani,C++;HTML/CSS;JavaScript;PowerShell;Python;Type...,"Hybrid (some remote, some in-person)",200000.0,4.0,True
17872,1144.0,Afghanistan,AFN\tAfghan afghani,C;C#;C++;Dart;HTML/CSS;Java;JavaScript;Kotlin;...,"Hybrid (some remote, some in-person)",100000.0,2.0,True
...,...,...,...,...,...,...,...,...
88820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.to_csv("output_minified.csv")