In [3]:
import pandas as pd

In [4]:
people = {
    'name': ['Dipen', 'Hites', 'mally'],
    'age':[29,10,40],
    'gender':['male','male','female'],
    'graduate':[False, True, True],
    'hobbies': [['cricket','football','chess','suduko'], ['swiming','travel','reading'],['chess','walk']]
}
df_people = pd.DataFrame(people)
df_people

    name  age  gender  graduate                             hobbies
0  Dipen   29    male     False  [cricket, football, chess, suduko]
1  Hites   10    male      True          [swiming, travel, reading]
2  mally   40  female      True                       [chess, walk]

In [5]:
filter = (df_people['age'] > 25) 

# var = df_people[filter]  # OR 
df_people.loc[filter][['name','age']]

    name  age
0  Dipen   29
2  mally   40

In [6]:
df_people.columns = [x.upper() for x in df_people.columns]
df_people

    NAME  AGE  GENDER  GRADUATE                             HOBBIES
0  Dipen   29    male     False  [cricket, football, chess, suduko]
1  Hites   10    male      True          [swiming, travel, reading]
2  mally   40  female      True                       [chess, walk]

In [7]:
new_columns = {'NAME':'name', 'AGE':'age', 'GRADUATE':'is_cool', 'GENDER': 'gender', 'HOBBIES':'hobbies'}
df_people.rename(columns=new_columns, inplace=True)
df_people

    name  age  gender  is_cool                             hobbies
0  Dipen   29    male    False  [cricket, football, chess, suduko]
1  Hites   10    male     True          [swiming, travel, reading]
2  mally   40  female     True                       [chess, walk]

In [8]:
df_people.loc[3] = ['Sunny', 50, 'gay', False, []]
df_people.loc[2, ['name','is_cool']] = ['Miles Moris', 'male']
df_people

/var/folders/c8/wy8zqpfn5z3_zvhncw54tmr80000gn/T/ipykernel_76527/3205960325.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'male' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_people.loc[2, ['name','is_cool']] = ['Miles Moris', 'male']

          name  age  gender is_cool                             hobbies
0        Dipen   29    male   False  [cricket, football, chess, suduko]
1        Hites   10    male    True          [swiming, travel, reading]
2  Miles Moris   40  female    male                       [chess, walk]
3        Sunny   50     gay   False                                  []

In [9]:
def double_age(item):
    return item * 2

df_people['double_age'] = df_people['age'].apply(double_age)
df_people['name'] = df_people['name'].apply(lambda x: x.lower())

df_people

,name,age,gender,is_cool,hobbies,double_age
0,dipen,29,male,False,"[cricket, football, chess, suduko]",58
1,hites,10,male,True,"[swiming, travel, reading]",20
2,miles moris,40,female,male,"[chess, walk]",80
3,sunny,50,gay,False,[],100

## CRUD Operations

#### Combine columns

In [10]:
df_people['gender_and_age'] = df_people['gender'] + ' ' + df_people['age'].astype(str)
df_people

,name,age,gender,is_cool,hobbies,double_age,gender_and_age
0,dipen,29,male,False,"[cricket, football, chess, suduko]",58,male 29
1,hites,10,male,True,"[swiming, travel, reading]",20,male 10
2,miles moris,40,female,male,"[chess, walk]",80,female 40
3,sunny,50,gay,False,[],100,gay 50

In [11]:
df_people.drop(columns=['gender','age'], inplace=True)

In [12]:
split_columns = df_people['gender_and_age'].str.split(' ', expand=True)
df_people[['gender','age']] = split_columns

df_people.drop(columns='gender_and_age',inplace=True)

In [13]:
# df_people.drop(index=2)

row = df_people[df_people['name']=='sunny']

df_people.drop(index=row.index)

,name,is_cool,hobbies,double_age,gender,age
0,dipen,False,"[cricket, football, chess, suduko]",58,male,29
1,hites,True,"[swiming, travel, reading]",20,male,10
2,miles moris,male,"[chess, walk]",80,female,40

In [25]:
df_people.sort_values(by=['age','name'], ascending=[True, False], inplace=True)